/* Message */
.user {
  display: flex;
  align-items: center;
  border-radius: 7px;
  border: 2px solid #f2efeb;
  padding: 10px;
}

.user img {
  max-width: 64px;
  border-radius: 50%;
  margin-right: 20px;
}

.user .content-user {
  display: inline-block;
}

.user .name-user::after {
  content: ' - ';
}

.user .mensaje-user {
  display: block;
}
