/* Message */
.user {
  max-width: 90%;
  display: flex;
  align-items: center;
  background: rgba(15, 215, 161, 0.3);
  border-radius: 7px;
  padding: 10px;
}

.user img {
  max-width: 64px;
  border-radius: 50%;
  margin-right: 20px;
}

.user .content-user {
  display: inline-block;
}

.user .name-user {
  color: #fff;
}

.user .name-user::after {
  content: ' â— ';
  color: #fff;
}

.user .date-user {
  color: #fff;
}

.user .mensaje-user {
  display: block;
  color: #fff;
}
