/*------------------------ Botones - Estilos Generales -----------------------*/

.boton{
    font-family: sans-serif;
    font-size: 1.5vw !important;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px -4px 1px rgba(0, 0, 0, 0.603) inset;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 5px 15px;
  }
  
.boton:hover{
    box-shadow: 0px -5px 1.5px rgba(0, 0, 0, 0.603) inset;
  }
  
 /*--------------------- Inicio de Sección - Botón ---------------------------*/
  
main button{
    background: rgba(30, 102, 197, 0.658);
}

 /*------------------------ Salir de Sección - Botón ----------------------------*/
  
header button{
    background: rgb(228, 63, 34);
}
