@import "./styles/palm-treee.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 52.5%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Login */
.btn-container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  font-size: 3rem;
  max-width: 300px;
  height: 80px;
}

/* Header */
header {
  position: relative;
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #0fd9a4;
}

header h1 {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
}

header .logout {
  font-size: 2.4rem;
  padding: 0;
}

header .logout:hover {
  color: #fff;
  background: transparent;
  text-decoration: underline;
}

/* Message */
.user {
  max-width: 90%;
  display: flex;
  align-items: center;
  background: rgba(15, 215, 161, 0.3);
  border-radius: 7px;
  padding: 10px;
}

.user img {
  max-width: 64px;
  border-radius: 50%;
  margin-right: 20px;
}

.user .content-user {
  display: inline-block;
}

.user .name-user {
  color: #fff;
}

.user .name-user::after {
  content: " ● ";
  color: #fff;
}

.user .date-user {
  color: #fff;
}

.user .mensaje-user {
  display: block;
  color: #fff;
}

/* Channel */
.messages-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
