.logo{
  margin: 1%;
  margin-left: 35%;
  width: 25%;
}

main{
  margin: 1.5%;
  width: auto;
  height: auto;
  background-color: red;
}

.avatar{
  display: inline-block;
  margin-left: 10%;
  width: 25%;
  height: 40%;
}

.user {
  display: inline-block;
  margin: 2%;
  width: 50%;
  height: 100%;
  background-color: aqua;
}

#root button{
  padding: 2%, 10%;
  margin: 6%;
  background: yellow;
  border-radius: 10px;
}
